@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: red;
    font-family: 'Roboto', sans-serif;
  }
  h1 {
    color: WHITE;
    text-align: center;
  }

  #singlemovie {
      background-color: black;
      color: white;
      margin-bottom: 50px;
      border-radius: .25rem;
      
  }
  
  .col-sm-4 {
      margin-bottom: 50px;
  }
  
  .card {
      background-color: black;
      color: white;
      border: solid black 3px; 
  }
  .moviebtn {
      background-color: red;
      border: red;
      margin-top: 10px;
  }

  #pageNav {
      display: none;
  }

  .hide {
      display: none;
  }

  #modalBtn {
      padding: 0;
      border: 0;
  }